.Signup-section {
    padding: 90px 100px 90px 100px;
}

.Signup-header {
    font-weight: 600;
    font-size: 45px;
    color: #0B4654;
 }

 .Signup-have-acc {
    padding-top: 25px;
    font-weight: 500;
    color: #828282;
    font-size: 18px;
 }

 .Signup-sign-up {
    color: #028F98;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    margin-top: 5px;
    padding-left: 5px;
}

.Signup-verify-code {
    color: #969BAB;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}